[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Aviutl
Exec=env WINEPREFIX="/home/ユーザー名を入力してください/.wine_setting" wine aviutl110/aviutl.exe
Icon=/home/ユーザー名を入力してください/aviutl110/AviUtl_icon.png
